## データセットの作成
データベースから各レースごとに最大24馬の過去五レースをとってくる
ない分は0埋め

In [25]:
import sqlite3
from contextlib import closing
import numpy as np
import pickle
import pandas as pd

dbpath = './data/horse.db'
with closing(sqlite3.connect(dbpath, detect_types=sqlite3.PARSE_DECLTYPES|sqlite3.PARSE_COLNAMES)) as conn:
    c = conn.cursor()
    print(np.array(list(c.execute('pragma table_info(race)'))))

[[0 'horse_id' 'int' 0 None 0]
 [1 'R' 'int' 0 None 0]
 [2 'head_count' 'int' 0 None 0]
 [3 'wakuban' 'int' 0 None 0]
 [4 'umaban' 'int' 0 None 0]
 [5 'popularity' 'int' 0 None 0]
 [6 'race_order' 'int' 0 None 0]
 [7 'burden_weight' 'int' 0 None 0]
 [8 'odds' 'float' 0 None 0]
 [9 'time_gap' 'float' 0 None 0]
 [10 'up' 'float' 0 None 0]
 [11 'weather' 'text' 0 None 0]
 [12 'baba' 'text' 0 None 0]
 [13 'raceid' 'int' 0 None 0]
 [14 'place' 'text' 0 None 0]
 [15 'pace0' 'float' 0 None 0]
 [16 'pace1' 'float' 0 None 0]
 [17 'race_type' 'text' 0 None 0]
 [18 'distance' 'int' 0 None 0]
 [19 'weight' 'int' 0 None 0]
 [20 'weight_change' 'int' 0 None 0]
 [21 'date' 'datetime' 0 None 0]
 [22 'time' 'datetime' 0 None 0]]

In [ ]:
class RaceDataQue:
    def __init__(self):
        self.

In [30]:
with closing(sqlite3.connect(dbpath, detect_types=sqlite3.PARSE_DECLTYPES|sqlite3.PARSE_COLNAMES)) as conn:
    c = conn.cursor()
    for i, d in enumerate(c.execute('select * from race order by horse_id desc')):
        print(d)
        if i >10:
            break

('2019-10-27 00:00:00',)
('2019-08-18 00:00:00',)
('2019-07-06 00:00:00',)
('2019-04-13 00:00:00',)
('2019-01-20 00:00:00',)
('2018-12-09 00:00:00',)
('2018-11-17 00:00:00',)
('2018-09-29 00:00:00',)
('2018-07-22 00:00:00',)
('2018-05-20 00:00:00',)
('2018-02-18 00:00:00',)
('2018-01-06 00:00:00',)

In [16]:
race_url_df

,Unnamed: 0,race_url,year,month,date
0,0,https://db.netkeiba.com/race/201906050607/,2019,12,15
1,1,https://db.netkeiba.com/race/201906050608/,2019,12,15
2,2,https://db.netkeiba.com/race/201906050609/,2019,12,15
3,3,https://db.netkeiba.com/race/201906050610/,2019,12,15
4,4,https://db.netkeiba.com/race/201906050611/,2019,12,15
...,...,...,...,...,...
8130,8130,https://db.netkeiba.com/race/195506040810/,1955,10,16
8131,8131,https://db.netkeiba.com/race/195506040410/,1955,10,2
8132,8132,https://db.netkeiba.com/race/195506010401/,1955,1,8
8133,8133,https://db.netkeiba.com/race/195406060410/,1954,12,12
8134,8134,https://db.netkeiba.com/race/195406060102/,1954,12,4